@import '~bootstrap/scss/bootstrap';

.active-link {
    border-bottom: 2px solid blue;
}

#jumbotron {
    background-image: url(../img/jumbotron.jpg);
    min-height: 30vh;
    background-size: cover;
}